<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>行程安排</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="yes" name="apple-mobile-web-app-capable" /><link href="../static/css/bootstrap.min.css" rel="stylesheet" /><link rel="stylesheet" href="../static/css/jquery-labelauty.css">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="../static/css/NewGlobal.css" rel="stylesheet" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/zepto.js"></script>
 <style>
								.section {
									background: #f3f3f3;
									font-size: 14px;
								}
								#datepicker_wrap {
									overflow: hidden;
									height: 0;
									-webkit-transition: height 200ms ease-in-out;
									background: #e1e1e1;
									-webkit-box-sizing:border-box;
									box-sizing:border-box;
								}
								#datepicker_wrap>div {
									display: none;
									padding: 5px 5px 25px 5px;
								}
								.filter {
									padding: 10px;
								
								}
								.filter:after {
									content: '\0020';
									clear: both;
									display: block;
									height: 0;
									font-size: 0;
									line-height: 0;
								}
								a.datebox {
									border: 1px solid #e1e1e1;
									text-decoration: none;
									color: #000;
									padding: 5px 26px 5px 5px;
									margin: 0px 5px 0 0;
									position: relative;
									background: #fff;
									top: 5px;
								}
							   .ui-icon-down {
									position: absolute;
									top: 50%;
									right: 5px;
									background-image: url("http://gmu.baidu.com/demo/assets/icons-36-black.png");
									-webkit-background-size: 776px 18px;
									background-size: 776px 18px;
									width:18px;
									height: 18px;
									margin-top: -9px;
									background-position: 	-216px 50%;
								}
								.filter a.ui-state-active, .filter a.ui-state-hover {
									background: #fff;
								}
								.filter a.ui-state-active .ui-icon-down, .filter a.ui-state-hover .ui-icon-down {
									background-position: 	-180px 50%;
								}
								.filter a.search {
									float: right;
									padding: 5px;
									margin: 0;
								}
								.result {
									padding: 15px;
									text-align: left;
								}
							</style>	
							<script>
							 $(document).ready(function(){
								$('#pull').click(function(){
									var username=$('#username').val();
									var company=$('#company').val();
									var school=$('#school').val();
									var work=$('#work').val();
									var tel=$('#tel').val();
									var email=$('#email').val();
									var address=$('#address').val();
									var arrive=$('#arrive').val();
									var ordernum1=$('#ordernum1').val();
									var arrivetime=$('#arrivetime').val();
									var leave=$('#leave').val();
									var ordernum2=$('#ordernum2').val();
									var leavetime=$('#leavetime').val();
									if(school==""){
												alert("您有必要内容未填写");
												 document.getElementById("school").focus();
												 return false;
									}
									if(company==""){
												alert("您有必要内容未填写");
												 document.getElementById("company").focus();
												 return false;
									}
									if(username==""){
												alert("您有必要内容未填写");
												 document.getElementById("username").focus();
												 return false;
									}
									if(work==""){
												alert("您有必要内容未填写");
												 document.getElementById("work").focus();
												 return false;
									}
									if(tel==""){
												alert("您有必要内容未填写");
												 document.getElementById("tel").focus();
												 return false;
									}
									if(email==""){
												alert("您有必要内容未填写");
												 document.getElementById("email").focus();
												 return false;
									}
									if(address==""){
												alert("您有必要内容未填写");
												 document.getElementById("address").focus();
												 return false;
									}
									if(email != "") {
										var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
										isok= reg.test(email );
										if (!isok) {
										alert("邮箱格式不正确，请重新输入！");
										document.getElementById("email").focus();
										return false;
										}
									};

									if(arrive==0){
												alert("您有必要内容未填写");
												 document.getElementById("arrive").focus();
												 return false;
									}
									/*if(arrive==1){
										if(ordernum1==""){
												 alert("您有必要内容未填写");
												 document.getElementById("ordernum1").focus();
												 return false;}
										if(arrivetime==""){
												 alert("您有必要内容未填写");
												 document.getElementById("arrivetime").focus();
												 return false;
										}
									}
									if(arrive==2){
										if(ordernum1==""){
												alert("您有必要内容未填写");
												 document.getElementById("ordernum1").focus();
												 return false;}
										if(arrivetime==""){
												alert("您有必要内容未填写");
												 document.getElementById("arrivetime").focus();
												 return false;}		 
									}*/
									if(leave==0){
												alert("您有必要内容未填写");
												 document.getElementById("leave").focus();
												 return false;
									}
									/*if(leave==1){
										if(ordernum2==""){
												alert("您有必要内容未填写");
												 document.getElementById("ordernum2").focus();
												 return false;}
										if(leavetime==""){
												alert("您有必要内容未填写");
												 document.getElementById("leavetime").focus();
												 return false;}		 
									}
									if(leave==2){
										if(ordernum2==""){
												alert("您有必要内容未填写");
												 document.getElementById("ordernum2").focus();
												 return false;}
										if(leavetime==""){
												alert("您有必要内容未填写");
												 document.getElementById("leavetime").focus();
												 return false;}		 
									}*/
									/*for(var i=0;i<document.form1.elements.length-1;i++)
										   {
											  if(document.form1.elements[i].value=="")
											  {
												
												 alert("当前表单不能有空项");
												 document.form1.elements[i].focus();
												 return false;
											  }
										   }*/
									var visit;
									var box0 = document.getElementById("box0");
									var box1 = document.getElementById("box1");
									var box2 = document.getElementById("box2");
									if(box0.checked){
										visit = 0;
									}
									else if(box1.checked){
										if(box2.checked){
											visit=3;
										}
										else{visit=1;}
									}
									else if(box2.checked){visit=2;}
									else{visit=4;}
									if(visit==4){
										alert("请选择是否参观交流（如果不确定，请您确定后及时补充）");
									}
									$.ajax({
									url:'/arrive_post',
									data:{
										num1:1,
										username:username,
										company:company,
										school:school,
										work:work,
										tel:tel,
										email:email,
										address:address,
										arrive:arrive,
										ordernum1:ordernum1,
										arrivetime:arrivetime,
										leave:leave,
										ordernum2:ordernum2,
										leavetime:leavetime,
										visit:visit
									},
									dataType:'JSON',
									type:'post',
									success:function(){
											alert("提交成功");
											document.getElementById("box0").disabled=true;
											document.getElementById("box1").disabled=true;
											document.getElementById("box2").disabled=true;
											document.getElementById("company").disabled=true;
											document.getElementById("username").disabled=true;
											document.getElementById("school").disabled=true;
											document.getElementById("work").disabled=true;
											document.getElementById("tel").disabled=true;
											document.getElementById("email").disabled=true;
											document.getElementById("address").disabled=true;
											document.getElementById("arrive").disabled=true;
											document.getElementById("ordernum1").disabled=true;
											document.getElementById("arrivetime").disabled=true;
											document.getElementById('leave').disabled=true;
											document.getElementById('ordernum2').disabled=true;
											document.getElementById('leavetime').disabled=true;
									}
								});
								});
							 });
							 $(document).ready(function(){
								$.ajax({
									url:'/arrive_get',
									data:{
										num2:2,
									},
									dataType:'JSON',
									type:'get',
									success:function(data){
											if(data.result=="ok"){
											document.getElementById("company").value=data.company;
											document.getElementById("username").value=data.username;
											document.getElementById("school").value=data.school;
											document.getElementById("work").value=data.work;
											document.getElementById("tel").value=data.tel;
											document.getElementById("email").value=data.email;
											document.getElementById("address").value=data.address;
											if(data.arrive==1){
												document.getElementById("arrive").value=1;
												}
											if(data.arrive==2){
												document.getElementById("arrive").value=2;
												}
											if(data.arrive==3){
												document.getElementById("arrive").value=3;
												}
											$("#items").empty();
											var item='';
											item += '<div class="control-group"><input name="trip" type="text" id="ordernum1" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的出行方式（可不填）" /></div>'
											$("#items").append(item);
											document.getElementById("ordernum1").value=data.ordernum1;
											document.getElementById("arrivetime").value=data.arrivetime;
											if(data.visit==1){
												document.getElementById("box1").checked=true;
												document.getElementById("box0").checked=false;
											}
											else if(data.visit==2){
												document.getElementById("box2").checked=true;
												document.getElementById("box0").checked=false;
											}
											else if(data.visit==3){
												document.getElementById("box1").checked=true;
												document.getElementById("box2").checked=true;
												document.getElementById("box0").checked=false;
											}
											else if(data.visit==0){
												document.getElementById("box0").checked=true;
											}
											else{
												document.getElementById("box1").checked=false;
												document.getElementById("box2").checked=false;
												document.getElementById("box0").checked=false;
											}
											document.getElementById("box1").disabled=true;
											document.getElementById("box2").disabled=true;
											document.getElementById("box0").disabled=true;
											document.getElementById("company").disabled=true;
											document.getElementById("username").disabled=true;
											document.getElementById("school").disabled=true;
											document.getElementById("work").disabled=true;
											document.getElementById("tel").disabled=true;
											document.getElementById("email").disabled=true;
											document.getElementById("address").disabled=true;
											document.getElementById("arrive").disabled=true;
											document.getElementById("ordernum1").disabled=true;
											document.getElementById("arrivetime").disabled=true;
											if(data.leave==1){
												document.getElementById("leave").value=1;
												}
											if(data.leave==2){
												document.getElementById("leave").value=2;
												}
											if(data.leave==3){
												document.getElementById("leave").value=3;
												}
											$("#items2").empty();
											var item2='';
											item2 += '<div class="control-group"><input name="trip" type="text" id="ordernum2" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的出行方式（可不填）" /></div>'
											$("#items2").append(item2);
											document.getElementById("ordernum2").value=data.ordernum2;
											document.getElementById("leavetime").value=data.leavetime;
											document.getElementById('leave').disabled=true;
											document.getElementById('ordernum2').disabled=true;
											document.getElementById('leavetime').disabled=true;
											}
									}
								});
							 });
							 </script>
							
</head>
<body>
 <div class="header">
<div class="title" id="titleString">行程安排</div>
 </div>
	<script type="text/javascript" src="../static/js/jquery-labelauty.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.fr.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js"></script>

	
    
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datetimepicker.min.css" />

	
       <div class="container width90 pt20">
	   
 <form name="form1" class="form-horizontal">
	<div class="control-group">
	
		<input name="school" type="text" id="school" class="input width100 " style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入学校名称" />
	</div>
	<div class="control-group">
	
		<input name="company" type="text" id="company" class="input width100 " style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入工作单位" />
	</div>
	<ul class="search-group unstyled">
										<li>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon4"></span>
												<span class="coupon-label">姓名</span>
												<span class="coupon-input">
														<input name="username" type="text" id="username" class="input width100 " style="height:20px; background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入您的姓名" />
												</span>
											</div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon7"></span>
												<span class="coupon-label">职务</span>
												<span class="coupon-input">
														<input name="work" type="text" id="work" class="input width100 " style="height:20px; background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入您的职务" />
												</span>
											</div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon5"></span>
												<span class="coupon-label">联系方式</span>
												<span class="coupon-input">
														<input name="tel" type="text" id="tel" class="input width100 " style="height:20px; background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入您的联系方式" />
												</span>
											</div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon1"></span>
												<span class="coupon-label">电子邮箱</span>
												<span class="coupon-input">
														<input name="email" type="text" id="email" class="input width100 " style="height:20px; background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入您的电子邮箱" />
												</span>
											</div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon time-icon"></span>
												<span class="coupon-label">发票邮寄地址</span>
												<span class="coupon-input">
														<input name="address" type="text" id="address" class="input width100 " style="height:20px; background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="请输入会务发票邮寄地址" />
												</span>
											</div>
										   
										</li>
									    <li>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon location-icon"></span>
												<span class="coupon-label">赴会方式</span>
												<span class="coupon-input">
														<select style="font-size: 16px; line-height: 35px;height:36px;" id="arrive" onchange="show1(this.value)">
														<option value="0">全部</option> 
															  <option value="1">飞机</option> 
															  <option value="2">火车</option> 
															  <option value="3">其他</option> 
														</select>
												</span>
											</div>
											<div id="items"></div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon2"></span>
												<span class="coupon-label">预计到达时间</span>
												<div class="input-append date form_datetime">
												<input type="text" id="arrivetime" style="width:120px" placeholder="点击选择到达时间" readonly>
												<span class="add-on"><i class="icon-remove"></i></span>
												<span class="add-on" ><i class="icon-th" ></i></span>
												</div>
											</div>
										</li>
										<li>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon location-icon"></span>
												<span class="coupon-label">返程方式</span>
												<span class="coupon-input">
														<select style="font-size: 16px; line-height: 35px; height:36px;" id="leave" onchange="show2(this.value)">
														<option value="0">全部</option> 
															  <option value="1">飞机</option> 
															  <option value="2">火车</option> 
															  <option value="3">其他</option> 
														</select>
												</span>
											</div>
											<div id="items2"></div>
											<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon6"></span>
												<span class="coupon-label">预计返程时间</span>
												<div class="input-append date form_datetime">
												<input type="text" id="leavetime" style="width:120px"placeholder="点击选择返程时间" readonly>
												<span class="add-on"><i class="icon-remove"></i></span>
												<span class="add-on"><i class="icon-th"></i></span>
												</div>
											</div>
										</li>
										<li>
												<div class="coupon-nav coupon-nav-style">
												<span class="search-icon coupon-icon3"></span>
												<span class="coupon-label" style="width:280px">是否参观交流（详见会议安排）</span>
												<input type="checkbox" name="checkbox" id="box1" value="1" data-labelauty="上午参加">
												<input type="checkbox" name="checkbox" id="box2" value="2" data-labelauty="下午参加">
												<input type="checkbox" name="checkbox" id="box0" value="0" checked data-labelauty="不参加">
												</div>
										</li>
	</ul>
  </form>
    <div class="control-group tc">
         <button class="btn-large green button width100" style="padding-left:0px;padding-right: 0px;" id="pull" >提交</button>
    </div>
	<div class="control-group tc" >
		<button class="btn-large green button width100" style="padding-left:0px;padding-right: 0px;" id="change2" >修改</button>
	</div>
  </div>
  <div class="footer">
  <div class="gezifooter">
    <p style="color:#bbb;">Sida &copy; 2016-</p>
  </div>
  </div>
  
<script type="text/javascript">
	//checked JS特效调用
	$(function(){
		$(':input').labelauty();
	});
	//解锁文本框 可编辑
	$('#change2').click(function(){
			document.getElementById("box1").disabled=false;
			document.getElementById("box2").disabled=false;
			document.getElementById("box0").disabled=false;
			document.getElementById("company").disabled=false;
			document.getElementById("username").disabled=false;
			document.getElementById("school").disabled=false;
			document.getElementById("work").disabled=false;
			document.getElementById("tel").disabled=false;
			document.getElementById("email").disabled=false;
			document.getElementById("address").disabled=false;
			document.getElementById("arrive").disabled=false;
			document.getElementById("ordernum1").disabled=false;
			document.getElementById("arrivetime").disabled=false;
			document.getElementById('leave').disabled=false;
			document.getElementById('ordernum2').disabled=false;
			document.getElementById('leavetime').disabled=false;
			
	});
	var obox1 = document.getElementById("box1");
	var obox2 = document.getElementById("box2");
	var obox0 = document.getElementById("box0");
	obox1.onclick=function(){
		if(this.checked){
			document.getElementById("box0").checked=false;
		}
		else if(obox2.checked){
			document.getElementById("box0").checked=false;
		}
		else{
			document.getElementById("box0").checked=true;
		}
	}
	obox2.onclick=function(){
		if(this.checked){
			document.getElementById("box0").checked=false;
		}
		else if(obox1.checked){
			document.getElementById("box0").checked=false;
		}
		else{
			document.getElementById("box0").checked=true;
		}
	}
	obox0.onclick=function(){
		if(this.checked){
			document.getElementById("box1").checked=false;
			document.getElementById("box2").checked=false;
		}
	}
	//选择出行方式后的信息
	function show1(index){
			if(index==1){
				$("#items").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum1" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的航班（可不填）" /></div>'
				$("#items").append(item);
			}
			if(index==2){
				$("#items").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum1" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的列车次（可不填）" /></div>'
				$("#items").append(item);
			}
			if(index==3){
				$("#items").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum1" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的出行方式（可不填）" /></div>'
				$("#items").append(item);
			}
	};
	function show2(index){
			if(index==1){
				$("#items2").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum2" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的航班（可不填）" /></div>'
				$("#items2").append(item);
			}
			if(index==2){
				$("#items2").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum2" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的列车次（可不填）" /></div>'
				$("#items2").append(item);
			}
			if(index==3){
				$("#items2").empty();
				var item='';
				item += '<div class="control-group"><input name="trip" type="text" id="ordernum2" style="width:318px;background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px;float:right" placeholder="请输入您的出行方式（可不填）" /></div>'
				$("#items2").append(item);
			}
	};
	//bootstrap datetimepicker js特效
	     $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
		language:'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>

</body>
</html>