<!DOCTYPE HTML>
<html>
	<head>
		<title>会议详情</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="../static/js/jquery-1.8.3.min.js"></script>
		<script src="../static/js/jquery.poptrox.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/init.js"></script>
		<link rel="stylesheet" href="../static/css/skel-noscript.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/style-mobile.css" />
	</head>
	<body>
			<header id="header">
					<h1 id="logo"><a href="#">会议安排</a></h1>

			</header>
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container small">
					<header>
						<h3>“完善科改新体系，推进建设‘双一流’”</h3>
					</header>
					<p align="left">研讨会通知<br/>
					各高校:<br/>
						 党的十八届三中全会以来，党中央、国务院不断推出新的举措，加快实施创新驱动发展战略，高校作为科技创新的主力军，需要深刻认识当前科技改革发展新形势，深入推进科技体制机制改革，加快科技成果创新应用，加快构建高校科技管理“新常态”以适应国家经济社会发展新常态，推进经济提质增效升级，以提升国家自主创新能力、加快国家创新体系建设、全面实施以科技创新为核心的创新驱动发展战略，推动高校“双一流”建设。
					为加强理解和深入落实国家相关文件精神，加强高校之间的交流，探讨高校科枝改革新思路，加快高校科技成果转移转化，定于2016年11月4-6日由南京高新技术产业开发区主办，南京大学、东南大学、南京理工大学、河海大学、南京农业大学等高校协办<a>“完善科改新体系，推进建设‘双一流’”</a>研讨会。
					</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>主要议题</h2>
					</header>
					<p align="left">该研讨会主要面对我国985、211和地方高校科研管理部门的负责同志，并邀请来自高校的一线科研人员，共同讨论以下主要议题:<br/>
					1、如何解决制约科技创新和驱动发展的矛盾，如何推动区域创新、促进军民融合等；<br/>
					2、如何推动科技成果转化，打通科技创新与经济社会发展的通道；<br/>
					3、高校如何定位，推动“双一流”建设。<br/>
						大会将邀请国家部委等有关领导解读相关科技政策，并作专题报告。
					</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>安排通知</h2>
					</header>
					<p align="left">一、会议名称:完善科改新体系，推进建设“双一流”研讨会<br/>
					二、会议时间：（2016年11月4日-6日）<br/>
					11月4 日（周五）全天报到<br/>
					11月5日（周六）上午9:00-12:00大会报告<br/>
					11月5日（周六）下午13:30-16:30分组讨论交流<br/>
					11月6日（周日）上午9:00-11：30高新区参观交流<br/>
					11月6日（周日）下午参观交流<br/>
					具体日程安排以参会时发放的《会议手册》为准。<br/>
					三、会议报到地点：南京明发珍珠泉大酒店(浦口区珍珠街178-1号，近沿山大道)<br/>
					四、会议联系人:<br/>
					陈强：13951035632(南京大学)<br/>
					梁社：13851640200(南京理工大学)<br/>
					李佳凤:13851805509(南京理工大学)<br/>
					五、其他要求:<br/>
					本次会议收取会务费1000元/人，食宿统一安排，费用自理。
					</p>
				</div>
			</section>
			<section id="contact" class="main style3 secondary">
				<div class="content container">
					<header>
						<p align="right"> 南京高新技术产业开发区<br/>
						2016年10月8日</p>
					</header>
				</div>
			</section>
			<footer id="footer">
					<ul class="menu">
						<li>&copy; Untitled</li>
					</ul>
			</footer>
	</body>
</html>