<!DOCTYPE html>
<html>
<head>
<title>相关介绍</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
	function hideURLbar(){ window.scrollTo(0,1); } 
</script>
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/style2.css" type="text/css" media="all" />
	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
<!--header-->
<div class="header" id="home">
</div>
<!--//header-->
	<!--banner-->
<div class="banner">
		<div class="container">
			<div class="banner-info text-center">
				<h1><font color="black"><strong>南京高新区介绍</strong></font></h1>
			</div>
		</div>
</div>
<!--//banner-->
<!--about-->
<div class="about">
	<div class="about-grids">
		<div class="col-md-6 about-left">
			<div class="about-info">
				<h4>简介</h4>
				<p>&emsp;&emsp;南京高新区成立于1988年，1991年被批准为国家级高新区，是国家首批、江苏首家、南京唯一的国家高新区。
				园区现管辖面积160平方公里，初步形成了软件及电子信息、北斗卫星导航应用、生物医药特色产业集群，
				现有注册企业2375余家，70%以上企业拥有自主知识产权或自主品牌。
				2015年实现技工贸收入2477亿元，地区生产总值298亿元，公共财政预算收入49.45亿元。 
				园区拥有高新技术企业120家，高新技术产业产值占规模以上工业产值比重的71.5%，R&D研发投入占比为5.3%。
				园区拥有国家“千人计划”特聘专家38人、省“双创计划”人才37人、省“双创团队”2个、
				南京领军型科技创业人才197人以及江苏省“产业教授”、“科技创业家”、“双创博士”以及“333人才工程”等各类人才百余人。<br/>
				&emsp;&emsp;十三五期间，高新区将紧扣苏南国家自主创新示范区建设排头兵、江北新区科技创新中心这一定位，
				坚持以创新驱动为发展主旋律，以建设国际一流的高科技园区为目标，构建与现代产业体系高效融合、创新要素高效配置、科技成果高效转化、服务价值高效体现的开放性区域创新体系，
				将高新区建设成为苏南国家自主创新示范区核心区、南京科技创新引领区。力争到2020年，高新区主要经济指标年均增幅15%以上，
				综合实力跻身全国高新区前列。</p>
			</div>
		</div>
		<div class="col-md-6 about-right">
			<section class="main">
				<div class="ia-container">
					<figure>
						<img src="../static/images/s-7.jpg" alt="image01" />
						<input type="radio" name="radio-set" checked="checked"/>
						<figcaption><span>南京高新区图</span></figcaption>
						
						<figure>
							<img src="../static/images/s-1.jpg" alt="image02" />
							<input type="radio" name="radio-set" />
							
							<figure>
								<img src="../static/images/s-2.jpg" alt="image03" />
								<input type="radio" name="radio-set" />
								
								<figure>
									<img src="../static/images/s-4.jpg" alt="image04" />
									<input type="radio" name="radio-set" />
										<figure>
										<img src="../static/images/s-5.jpg" alt="image06" />
										<input type="radio" name="radio-set" />
												<figure>
												<img src="../static/images/s-3.jpg" alt="image05" />
												<input type="radio" name="radio-set"/>
												<figcaption><span>南京高新区图</span></figcaption>
												</figure>
										</figure>	
								</figure>
								
											
							</figure>	
										
						</figure>

						
					</figure>
					
				</div>
			</section>
		</div>
	</div>
</div>
<!--//about-->
<!--about-->
<div class="about">
	<div class="about-grids">
		<div class="col-md-6 about-right">
			<div class="about-info">
				<h4>明发珍珠泉酒店简介</h4>
				<p>&emsp;&emsp;明发珍珠泉大酒店位于市浦口区珍珠泉湖畔，自然环境独特优美。错落有致的建筑呈半弧型环绕风光旖旎的珍珠泉，
				与湖光水色融为一体，景色四季宜人，春季桃红柳绿，夏季林木葱郁，秋季层林尽染，冬季红梅傲雪，
				是会议、旅游、休闲、度假理想的场所。<br/>
				&emsp;&emsp;明发珍珠泉大酒店的内部设计新颖，建筑华丽，客房装潢典雅、设施完善，其建筑分为贵宾楼、望泉楼、公寓楼和别墅。
				欧式风格的大堂吧、环境雅致的风味餐厅、悠闲宁谧的自助餐厅、风格迥异的宴会包间14间、功能齐备的会议室10间、
				超一流的娱乐、康乐和健身等设施。酒店大宴会厅能接待500人，大会议厅能容纳700人，能为宾客提供多种不同形式的宴会和会议服务。
				酒店成功举行过多次国际大赛（包括国际象棋超级大赛）。酒店始终以“我们的服务总是超越宾客的期望”为服务宗旨，
				欢迎每一位客人的到来！<br/>
				&emsp;&emsp;酒店地址： 南京浦口区珍珠街178-1号</p>
			</div>
		</div>
		<div class="col-md-6 about-left">
			<section class="main" >
				<div class="ia-container">
					<figure>
						<img src="../static/images/h-1.jpg" alt="image01" />
						<input type="radio" name="radio-set"/>
						<figcaption><span>外景</span></figcaption>
						
						<figure>
							<img src="../static/images/h-2.jpg" alt="image02" />
							<input type="radio" name="radio-set" />
							<figcaption><span>外观</span></figcaption>
							<figure>
								<img src="../static/images/h-3.jpg" alt="image03" />
								<input type="radio" name="radio-set" />
								<figcaption><span>餐厅</span></figcaption>
								<figure>
									<img src="../static/images/h-4.jpg" alt="image04" />
									<input type="radio" name="radio-set" />
									<figcaption><span>健身房</span></figcaption>
									<figure>
									<img src="../static/images/h-6.jpg" alt="image05" />
									<input type="radio" name="radio-set" />
									<figcaption><span>怡和厅</span></figcaption>
										<figure>
										<img src="../static/images/h-5.jpg" alt="image06" />
										<input type="radio" name="radio-set"/>
										<figcaption><span>外观</span></figcaption>
										</figure>
									</figure>	
								</figure>
								
											
							</figure>	
										
						</figure>

						
					</figure>
					
				</div>
			</section>
		</div>
	</div>
</div>
<!--//about-->
<!--footer-->
	<div class="footer">
		<div class="container">
			<p>Sida &copy; 2016-</p>
		</div>
	</div>
<!--//footer-->
<!-- smooth scrolling -->
	<script type="text/javascript">
									$(document).ready(function() {
									
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
	</script>
	<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>